* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(160deg, #07063a, #550707);
}

.box-container {
  background: linear-gradient(0deg, #000000, #a8a8a8);
  text-align: center;
  padding: 1.2rem;
  border-radius: 10px;
  box-shadow: 5px 10px 15px black;
}

.box-container .img1 {
  width: 300px;
  margin-bottom: -30px;
}

.img-container .img2 {
  width: 300px;
  margin-top: -10px;
  margin-bottom: -60px;
}

.box-container h1 {
  margin-top: 10px;
  text-shadow: 5px 5px 8px rgb(32, 32, 32);
}

.box-container input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 16px;
  border: 2px solid royalblue;
  outline: none;
}

.box-container .btn-group {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.box-container .btn-group button {
  background: silver;
  color: black;
  border: none;
  padding: 8px 16px;
  font-size: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}

.box-container .btn-group .btn1:hover {
  background: #40b910;
  transition: 0.75s;
  box-shadow: 0px 0px 2px #10b98100, 0px 0px 4px #10b924, 0px 0px 6px #40b910,
    0px 0px 15px #40b910;
  color: white;
  cursor: pointer;
}

.box-container .btn-group .btn2:disabled:hover {
  background: silver;
  color: black;
  border: none;
  padding: 8px 16px;
  font-size: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}

.box-container .btn-group .btn2:hover {
  background: #1072b9;
  transition: 0.75s;
  box-shadow: 0px 0px 2px #10b98100, 0px 0px 4px #1072b9, 0px 0px 6px #1072b9,
    0px 0px 15px #1072b9;
  color: white;
}

.box-container .btn-group .btn3:disabled:hover {
  background: silver;
  color: black;
  border: none;
  padding: 8px 16px;
  font-size: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}

.box-container .btn-group .btn3:hover {
  background: #b91010;
  transition: 0.75s;
  box-shadow: 0px 0px 2px #10b98100, 0px 0px 4px #b91010, 0px 0px 6px #b91010,
    0px 0px 15px #b91010;
  color: white;
}
